body{
    background: rgb(253, 239, 239);
    margin: 0;
    padding: 0;
}
.dropdwn{
    margin: 0 auto;
}
nav{
    height: 150px;
    background: pink;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.logo{
    padding: 30px 0 0 50px;
    width: 80px;
    height: auto;
}
nav ul{
    padding: 45px;
    margin: 0;
    float: right;
    margin-right: 200px;
}
nav ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    background: pink;
}
nav ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
}
nav ul li a:hover{
    background: rgb(255, 153, 170);
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
.box{
    display: flex;
    margin-left: 990px;
    bottom: 93px;
  position: relative;
}
.box:hover input{
    width: 200px;
}
.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: rgb(255, 153, 170);
    height: 30px ;
    border-radius: 15px;
}
.box a .fas{
    color: black;
    margin-top: 6px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    
}
.form{
    position: absolute;
    line-height: 30px;
    bottom: 10px;
    background: rgb(253, 239, 239);
}
.form.signup{
    opacity: 0;
    pointer-events: none;

}
.forms.show-signup .form.signup{
 opacity: 1;
 pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
   }
header{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}
form{
    margin-top: 40px;
}
form .field{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
}
.field input{
    outline: none;
    height: 100%;
    width: 500px;
  padding: 0 15px;
  border: 1px solid #CACACA;
  font-size: 16px;
  font-weight: 400;
}
.eye-icon{
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
font-size: 18px;
color: #8b8b8b;
cursor: pointer;
padding: 5px;
}
.field button{
 margin-left: 200px;
 height: 100%;
 width: 100px;
 border-radius: 50px;
 background-color: pink;
 border-width: 1px;
 border: solid rgb(87, 86, 86);
 cursor: pointer;
 font-size: 16px;
 font-weight: 400;
 transition: all 0.3s ease;
}
.form-link{
    text-align: center;
    margin-top: 5px;
}
.form a{
    text-decoration: none;
    color: rgb(105, 104, 104);
}
.form-content a:hover{
    text-decoration: underline;
    color: black;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    background-color: #d4d4d4;
}
.field button:hover{
    background-color: rgb(255, 153, 170);
}
.field input:focus{
 border-bottom-width: 4px ;
}

@media screen and (max-width: 400px){
    .form{
        padding: 15px 10px;
    }
}
