body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .dropdwn{
     margin: 0 auto;
 }
 nav{
     height: 150px;
     background: rgb(131, 190, 131);
     box-shadow: 0 10px 15px rgba(0,0,0,0.1);
 }
 .logo{
     padding: 30px 0 0 20px;
     width: 80px;
     height: auto;
 }
 nav ul{
     padding: 35px;
     margin: 0;
     float: right;
     margin-right: 261px;
 }
 nav ul li{
     position: relative;
     list-style: none;
     display: inline-block;
     background: rgb(131, 190, 131);
 }
 nav ul li a{
     display: block;
     padding: 0 15px;
     color: black;
     text-decoration: none;
     line-height: 60px;
     font-size: 18px;
 }
 nav ul li a:hover{
     background: green;
 }
 nav ul ul{
     position: absolute;
     top: 60px;
     display: none;
 }
 nav ul li:hover > ul{
     display: block;
 }
 nav ul ul li{
     width: 200px;
     float: none;
     display: list-item;
     position: relative;
 }
 .box{
     display: flex;
     margin-left: 990px;
     bottom: 100px;
   position: relative;
 }
 .box:hover input{
     width: 200px;
 }
 .box input{
     width: 0;
     outline: none;
     border: none;
     font-weight: 500;
     transition: 0.8s;
     background: green;
     height: 30px ;
     border-radius: 15px;
 }
 .box a .fas{
     color: black;
     margin-top: 6px;
 }
 .slide-container{
    position: relative;
    width: 100%;

 }
 .slide img{
   width: 800px;
   height: 400px;
   margin-left: 200px;
 }
 .arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 253, 253, 0.719);
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
 }
 .next{
    right: 10px;
 }
 .prev{
    left: 10px;
 }
 .slide{
    display: none;
 }
 .basic{
    margin-left: 200px;
    margin-top: 10px;
 }
 .heading{
    font-size: xx-large;
 }
 .cart{
    width: 170px;
    border-radius: 80px;
    height: 50px;
    margin-left:200px;
    margin-top: 30px;
    background-color: rgb(131, 190, 131);
    cursor: pointer;
 }
 .des{
    background-color: rgb(138, 189, 138);
    width: 700px;
    line-height: 25px;
    border-radius: 10px;
 }
 .des p{
    margin-left: 5px;
 }
 .foot{
    background-color: rgb(101, 175, 101);
    width: 100%;
    position: absolute;
    
}
.footlogo{
    padding: 30px 0 0 560px;
    width: 100px;
    height: auto;
}
.bottomText{
    display: flex;
    line-height: 40px;
    justify-content: space-between;
    margin-right: 60px;
}
.bottomList{
    list-style: none;
}
.review{
    background-color: rgb(192, 185, 185);
    width: 700px;
    line-height: 25px;
    border-radius: 10px;
    height: 150px;
    
}
.review p{
    margin-left: 5px;
 }